*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}

body{
    min-height: 100vh;
}

.header,
.footer{
    min-height: 10vh;
    background: black;
    color: white;
}

.hide{
    display: none;
}