.result{
    position: relative;
    height: 80vh;
    background: #8B0000;
    color: #C1C1C1;
}

@keyframes animate-main{
    from{
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}

.animate-main{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: animate-main;
}

section{
    background: #F5F5F5;
    min-height: 80vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes animate-hide{
    40%{
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    to{
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animate-hide{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: animate-hide;
}

@keyframes animate-show{
    from{
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60%{
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animate-show{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: animate-show;
}

.intro{
    z-index: 10;
    background: #8B0000;
    color: #C1C1C1;
    text-align: center;
    h2{
        font-weight: 400;
        span{
            font-size: 1rem;
        }
    }
}

.skull{
    font-size: 20rem;
    color: #353535;
    padding-top: 2%;
}

.question{
    text-align: center;
}

h3{
    padding: 2% 0;
    border-bottom: 2px solid;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    figure,
    form{
        flex-basis: 42%;
        margin: 2%;
    }
}

.question-1{
    z-index: 9;
    background: #C1C1C1;
    color: #353535;
}

.question-2{
    z-index: 8;
    background: #8B0000;
    color: #C1C1C1;
}

.question-3{
    z-index: 7;
    background: #C1C1C1;
    color: #353535;
}

.question-4{
    z-index: 6;
    background: #8B0000;
    color: #C1C1C1;
}

.question-5{
    z-index: 5;
    background: #C1C1C1;
    color: #353535;
}