.result{
    position: relative;
    min-height: 80vh;
    background: #8B0000;
    color: #C1C1C1;
}

@keyframes animate-main{
    from{
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}

.animate-main{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: animate-main;
}

section{
    background: #F5F5F5;
    min-height: 80vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes animate-hide{
    40%{
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
    }
    to{
        opacity: 0;
        transform: scale(.1) translate3d(-2000px, 0, 0);
        transform-origin: left center;
    }
}

.animate-hide{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: animate-hide;
}

@keyframes animate-show{
    from{
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60%{
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animate-show{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: animate-show;
}

.intro{
    z-index: 10;
    background: #8B0000;
    color: #C1C1C1;
    text-align: center;
    h2{
        font-weight: 400;
        span{
            font-size: 1rem;
        }
    }
}

.skull{
    font-size: 20rem;
    color: #353535;
    padding-top: 2%;
}

.question{
    text-align: center;
    label{
        font-size: 2rem;
        padding: 10px;
        border: 2px solid;
        border-radius: 10px;
    }
    label:hover{
        cursor: pointer;
    }
}

.answer{
    padding-bottom: 5%;
    margin-bottom: 20px;
    input[type="radio"]{
        display: none;
    }
}

h3{
    padding: 2% 0;
    border-bottom: 2px solid;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    figure,
    form{
        flex-basis: 42%;
        margin: 2%;
    }
}

.question-1{
    z-index: 9;
    background: #C1C1C1;
    color: #353535;
    input[type="radio"]:checked+label{
        background: #8B0000;
        color: #C1C1C1;
        border: 2px solid #353535;
    }
}

.question-2{
    z-index: 8;
    background: #8B0000;
    color: #C1C1C1;
    input[type="radio"]:checked+label{
        background: #353535;
        color: #C1C1C1;
        border: 2px solid #353535;
    }
}

.question-3{
    z-index: 7;
    background: #C1C1C1;
    color: #353535;
    input[type="radio"]:checked+label{
        background: #8B0000;
        color: #C1C1C1;
        border: 2px solid #353535;
    }
}

.question-4{
    z-index: 6;
    background: #8B0000;
    color: #C1C1C1;
    input[type="radio"]:checked+label{
        background: #353535;
        color: #C1C1C1;
        border: 2px solid #353535;
    }
}

.question-5{
    z-index: 5;
    background: #C1C1C1;
    color: #353535;
    input[type="radio"]:checked+label{
        background: #8B0000;
        color: #C1C1C1;
        border: 2px solid #353535;
    }
}

.final-page{
    text-align: center;
    img{
        width: 50%;
        margin-top: 5%;
    }
    h2{
        padding: 20px 0;
    }
}

// ========== MEDIA QUERIES ==========

@media(max-width: 800px){
    .result,
    section{
        height: 90vh;
    }
    body{
        height: 100vh;
    }

    .flex{
        flex-direction: column;
        figure{
            width: 50%;
            figcaption{
                padding: 10px 0;
            }
        }
    }
}

@media(max-width: 700px){
    .result,
    section,
    body{
        height: 170vh;
    }
}

@media(max-width: 570px){
    .skull{
        font-size: 10rem;
    }

    .flex figure{
        width: 80%;
    }

    .result,
    section,
    body{
        height: 200vh;
    }

    .answer label{
        font-size: 1.5rem;
    }

    .final-page img{
        width: 80%;
    }
}

@media(max-width: 450px){
    .result,
    section,
    body{
        height: 100vh;
    }
}